.loginbox2 {
    width: 20%;
    left: 59vw;
    top: 27.5%;
    position: relative;
}
.shadow{
    -moz-box-shadow:0 0 5px 5px rgb(179, 179, 179);
    -webkit-box-shadow:0 0 5px 5px rgb(179, 179, 179);
    box-shadow:0 0 5px 0px rgb(218, 217, 217);

    margin-top: 5px;
    left: 33px;
}
.layui-form-item .layui-input-inline {
    float: left;
    width: 14.5vw;
    margin-right: 10px;
    position: relative;
    left: 2.5vw;
}
.usernameimg{
    position: absolute;
    width: 2vw;
    height: 80%;
    left: 3%;
    background-size: 5%;
}
.imgsize{
    width: 80%;
    top: 25%;
    left: 10%;
    position: relative;
}

.divfont{
    height: 4vw;
}
.divfont1{
    position: relative;
    right: 1.5vw;
}
#tiaoguo{
    color: #A9A9A9;
    font-size: 12px;
    position: relative;
    top: -18px;
    left: 19vw;
}
.login{
    font-size: 0.8vw;
    margin-top: 3.5vw;
    background: url(../img/login-btn@2x.png);
    border-radius: 4px;
    margin-left: 2.3vw;
    width: 15vw; 
    height: 2vw;
    background-repeat: no-repeat;
    background-size: 126% 164%;
    background-position: left;
}
.Verticalline{
    position: absolute;
    width: 1%;
    height: 70%;
    border-radius: 1px;
    background-color: #000000;
    top: 3px;
    right: 23%;
}
.input1{
    margin-left: 2vw;
    height: 2.5vw;
    width: 70%;
    border: 0px;
}