.loginbox2 {
    width: 21%;
    height: 45%;
    right: 20.5%;
    top: 26%;
    position: absolute;
    display: flex;
}
.shadow{
    -moz-box-shadow:0 0 5px 5px rgb(179, 179, 179);
    -webkit-box-shadow:0 0 5px 5px rgb(179, 179, 179);
    box-shadow:0 0 5px 0px rgb(218, 217, 217);
    position: relative;
    margin-top: 5px;
    left: 33px;
}
.layui-form-item .layui-input-inline {
    float: left;
    width: 70%;
    margin-right: 10px;
}
.cnter {
    margin: auto;
    width: 100%;
    height: 40%;
    position: relative;
    top: 24%;
}
.usernameimg{
    position: absolute;
    width: 42px;
    height: 80%;
    top: 10%;
    left: 3%;
    background-size: 5%;
}
.imgsize{
    width: 40%;
    top: 10%;
    left: 10%;
    position: absolute;
}
.logindiv {
    
}

.login{
    margin-top: 3.5vw;
    background: url(../img/login-btn@2x.png);
    border-radius: 8px;
    position: absolute;
    width: 15vw; 
    height: 25px;
    background-repeat: no-repeat;
    background-size: cover;
}
.Verticalline{
    position: absolute;
    width: 1%;
    height: 70%;
    border-radius: 1px;
    background-color: #000000;
    top: 3px;
    right: 23%;
}
.input1{
    margin-left: 35px;
    height: 2.5vw;
    width: 70%;
    border:0px;
}