.box1{
    background-image: url(../img/8-output-right@2x.png);
    background-repeat: no-repeat;
    background-size: 100vw 58.38815789473685vw;
    width: 100vw;
    height: 58.38815789473685vw;
    position: absolute;
}
.box2 {
    background-image: url(../img/3-bg@2x.png);
    background-repeat: no-repeat;
    background-size: 100vw 58.38815789473685vw;
    width: 100vw;
    height: 58.38815789473685vw;
    position: absolute;
}