#nav {
    width: 96vw;
    margin-top: 2.46vw;
    
}

#but1 {
    float: right;
    margin-right: 15px;
}

#but1 a {
    color: #6969EF;
}
.logoweizi{
    width: 155px;
    height: 35px;
    background-image: url(../img/logo1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 27px;
    left: 35px;
}

.div1 {
    width: 96.5%;
    height: 93%;
    background-image: url(../img/16-bg-gezi@2x.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 120%;
    background-color: #ffffff;
    position: absolute;
    top: 6.82vw;
    left: 1.64vw;
    border-radius: 5px;
}
@font-face {
    src:url("../lib/font/YouSheBiaoTiHei-2.ttf");
    font-family: "shiyanfont";
}
.shiyanfont1{
    position: absolute;
    width:380px;
    height:18px;
    font-size:24px;
    font-family:shiyanfont;
    font-weight:400;
    color:#ffffff;
    line-height:23px;
    left: 200px;
    top: 32px;
}
.shiyanfont2{
    width:90px;
    height:18px;
    font-size:24px;
    font-family:shiyanfont;
    font-weight:400;
    color:rgba(102,102,102,1);
    line-height:23px;
    margin: 0 auto;
    margin-top: 48.5px;
}
#div1imgdownload{
    position: absolute;
    width: 4.93vw;
    height: 4.19vw;
    background-repeat: no-repeat;
    background-image: url(../img/15-btn-download@2x.png);
    background-position: center;
    background-size: 2.87vw;
    left: 82.23vw;
    top: 5.34vw;
}

.div11{
    position: absolute;
    width: 71%;
    height: 5%;
    top: 9%;
    left: 8.223684210526317vw;
}
.div12{
    position: absolute;
    width: 71%;
    height: 5%;
    top: 16%;
    left: 8.22vw;
}
.div13{
    position: absolute;
    width: 71%;
    height: 65%;
    top: 23%;
    left: 8.22vw;
}
.div131{
    position: absolute;
    top: 60px;
}
.div132{
    position: absolute;
    top: 220px;
}
.div133{
    position: absolute;
    top: 340px;
}
.div134{
    position: absolute;
    top: 770px;
}
.div13font1{
    font-size: 14px;
    position: absolute;
    left: -19px;
    top: 20px;
}
.div13font2{
    font-size: 14px;
    position: absolute;
    left: -19px;
    top: 180px;
}
.div13font3{
    font-size: 14px;
    position: absolute;
    left: -19px;
    top: 300px;
}
.div13font4{
    font-size: 14px;
    position: absolute;
    left: -19px;
    top: 730px;
}
.div13tb1{
    width: 58vw;
    height: 
    100px;
    border: 0.5px solid;
    border-radius: 4px;
    overflow: hidden;
}
.div13tb2{
    width: 58vw;
    height: 
    60px;
    border: 0.5px solid;
    border-radius: 4px;
    overflow: hidden;
}
.div13tb3{
    width: 58vw;
    height: 
    370px;
    border: 0.5px solid;
    border-radius: 4px;
    overflow: hidden;
}
.div13tb4{
    width: 58vw;
    height: 
    60px;
    border: 0.5px solid;
    border-radius: 4px;
    overflow: hidden;
}
.div13tb1td1{
    font-size: 12px;
    border:0.5px solid black;
    text-align: left;
    padding-left: 25px;
}
.div13tb2td1font{
    width: 1%;
}
.div13tb1fontsize{
    font-size: 15px;
}
.div13tb3td1{
    width: 1%;
    height: 6%;
    background-color: #5C6C91;
    color: #ffffff;
}
.div13tb3td2{
    width: 12%;
}
.div13tb3td3{
    width: 5%;
}
tr td,th{
    text-align: center;
    font-size: 14px;
    border:0.5px solid black;
    width: 4%;
    color: #25264E;
}
.tdfont{
    font-size: 9px;
    padding-top: 13.5px;
    vertical-align: baseline;
}
  table{
    border-collapse: separate;
    border-spacing: 0;
  }
.div14{
    position: absolute;
    width: 71%;
    height: 5%;
    top: 1195px;
    left: 8.22vw;
}

.div11img1{
    width: 6.74vw;
    height: 6.74vw;
    position: absolute;
    background-image: url(../img/15-icon-1@2x.png);
    background-size: 4.76vw;
    background-repeat: no-repeat;
    top: -2.79vw;
    left: 1.233vw;
}
.div11img2{
    width: 4vw;
    height: 4vw;
    position: absolute;
    background-image: url(../img/15-icon-2@2x.png);
    background-size: 3.2vw;
    background-repeat: no-repeat;
    top: -2.3vw;
    left: 1.6vw;
}
.div11img3{
    width: 4vw;
    height: 4vw;
    position: absolute;
    background-image: url(../img/15-icon-3@2x.png);
    background-size: 3.2vw;
    background-repeat: no-repeat;
    top: -2.3vw;
    left: 1.6vw;
}
.div11img4{
    width: 4vw;
    height: 4vw;
    position: absolute;
    background-image: url(../img/15-icon-4@2x.png);
    background-size: 3.2vw;
    background-repeat: no-repeat;
    top: -2.3vw;
    left: 1.6vw;
}

.div11font{
    font-size: 16px;
    margin-left: 6vw;
    margin-top: -2vw;
}
.div12font{
    font-size: 16px;
    margin-left: 6vw;
    margin-top: -2vw;
}
.div21font{
    font-size: 0.8vw;
    position: absolute;
    left: 8vw;
    top: 0.8vw;
    white-space: nowrap;
}
.div2win{
    position: absolute;
    left: -0.9vw;
    top: 0.8vw;
}
.layui-textarea{
    resize:none;
    }
.layui-textarea{
    width: 59vw;
}

.div1btn{
    position: absolute;
    top: 130%;
    left: 31vw;
}
.layui-btn1 {
    height: 2.7vw;
    line-height: 2.3vw;
    width: 16vw;
    background-image: url(../img/15-btn-submit@2x.png);
    background-position: center;
    background-size: 150% 150%;
    background-repeat: no-repeat;
}
.layui-btn2 {
    height: 2vw;
    line-height: 0vw;
    width: 8vw;
    background-color: #ffffff;
    background-position: center;
    border-radius: 0.5vw;
}
.navfont{
    font-size: 1vw;
    color: #6969EF;
}
.font{
    color: #ffffff;
}
.border{
    border-color: #000000;
    border-radius: 4px;
}
#layui-input:hover{
    border-color: #000000;
}