.bottom {
    height: 83%;
}

.left-box {
    position: relative;
    left: 2.5%;
    height: 100%;
    width: 21%;
}

.left-box-top {
    position: relative;
    top: 3%;
    left: 8%;
    width: 80%;
    height: 12%;
    background-color: rgba(46, 94, 175, 1);
    border-radius: 3px;
}

.left-title {
    font-size: 30px;
    display: inline-block;
    color:#fff;
    margin: 5% 0 0 25%;
}

.left-pages {
    height: 100%;
}

.left-pages div {
    display: none;
}

.left-box-bottom {
    position: relative;
    top: 8%;
    left: 18%;
    width: 68%;
}

.left-box-bottom h2 {
    color: white;
    margin-bottom: 5%;
}

.left-box-bottom p {
    font-size: 17px;
    color: white;
    margin-bottom: 3%;
}

.left-box-bottom ul li {
    list-style-type: disc;
    color: white;
}

.right-box {
    position: relative;
    left: 3%;
    top: 2.7%;
    width: 75%;
    height: 104%;
    background-color: rgba(68, 97, 181, 0.6);
}

.right-box-top {
    height: 9%;
    width: 100%;
}

.right-box-nav {
    height: 100%;
    width: 100%;
}

.right-box-top li {
    float: left;
    color: white;
}

.lang-intro {
    position: relative;
    top: 5%;
    left: 2%;
}

.lang-intro p {
    font-size: 25px;
}

.run-code-li {
    position: relative;
    top: 6%;
    left: 70%;
    height: 60%;
    width: 8%;
}

.run-code {
    height: 100%;
    width: 100%;
    color: white;
    background-color: rgb(62,159,247);
    border: 0;
    border-radius: 4px;
}

.right-box-bottom {
    display: flex;
    height: 90%;
    width: 100%;
}

.code-input {
    flex-grow: 1;
    position: relative;
    left: 3%;
    height: 100%;
}

.code-output {
    flex-grow: 1;
    position: relative;
    /* left: 10%; */
    height: 100%;
    display: flex;
    flex-direction: column;
}

.img_box {
    display: none;
    position: relative;
    top: 5%;
    flex-grow: 12;
    width: 85%;
    background-color: #fff;
    /* background: url("http://localhost:5000/static/123/0.png") no-repeat center top;
    background-size: cover; */
}

.btn-box {
    position: relative;
    top: 1%;
    flex-grow: 1;
    display: flex;
    width: 88%;
}

.bottom-btn {
    height: 40px;
    flex-grow: 0.5;
    color: white;

}

.right-content {
    height: 93%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.right-content-top {
    flex-grow: 1;
    width: 100%;
    display: flex;
}

.right-content-top-left {
    height: 100%;
    flex-grow: 1;
    background: url("../img/10-left-top-panel@2x.png") no-repeat center top;
    background-size: contain;
}

.top-left {
    position: relative;
    top: 18%;
    left: 6%;
    width: 88%;
    height: 88%;
    background: url(../img/1.jpg) no-repeat center top;
    background-size: contain;
}

.right-content-top-right {
    height: 100%;
    flex-grow: 1;
    background: url("../img/10-right-top-panel@2x.png") no-repeat center top;
    background-size: contain;
}

.right-content-bottom {
    flex-grow: 1;
    width: 100%;
    display: flex;
}

.right-content-bottom-left {
    height: 100%;
    flex-grow: 1;
    background: url("../img/10-left-bottom-panel@2x.png") no-repeat center top;
    background-size: contain;
}

.right-content-bottom-right {
    height: 100%;
    flex-grow: 1;
    background: url("../img/10-right-bottom-panel@2x.png") no-repeat center top;
    background-size: contain;
}

.right-bottom {
    width: 100%;
    height: 7%;
}

.layui-input {
    position: relative;
    left: 1.6%;
    height: 100%;
    width: 55%;
}

.right-bottom-btn-div {
    position: relative;
    top: -100%;
    left: 50%;
    height: 100%;
    width: 50%;
    display: flex;
}

.right-bottom-btn {
    height: 100%;
    flex-grow: 1;
    color: white;
}

.right-page {
    width: 100%;
    height: 100%;
}

.right-page-content {
    width: 100%;
    height: 100%;   
    /* display: none; */
}

.right-content-top-left-nine {
    position: relative;
    height: 47%;
    width: 50%;
    float: left;
    background: url("../img/12-left-top-panle@2x.png") no-repeat center top;
    background-size: contain;
}

.right-content-top-right-nine {
    position: relative;
    left: 1%;
    height: 45%;
    width: 44%;
    background-color: #fff;
    float: left;
    border-radius: 7px;
}

.right-content-bottom-all-nine {
    height: 100%;
}

.nine {
    position: relative;
    top: -5%;
}

.advise-btn {
    position: absolute;
    top: 3%;
    left: 76%;
    color: white;
    width: 18%;
    height: 13%;
    font-size: 15px;
    display: none;
}

.advise-alert {
    background: url("../img/13-bg@2x.png") no-repeat center top;
    background-size: cover;
    padding: 0;
}

.introduce-alert {
    background: url("../img/9-bg@2x.png") no-repeat center top;
    background-size: cover;
    padding: 0;
}

.data-pre-table {
    width: 100%;
}

.data-pre-table tr {
    width: 100%;
}

.data-pre-table td {
    margin-right: 5%;
}

.none {
    display: none;
}

.layui-layer-setwin .layui-layer-close2 {
    position: absolute;
    right: -6px;
    top: -11px;
    width: 31px;
    height: 30px;
    margin-left: 0;
    background-position: 17px -32px;
}

.adjust-alert {
    padding: 0;
}

#right-page-nine .right-content-top {
    width: 100%;
    height: 50%;
    /* display: flex; */
    overflow: hidden;
}

#right-page-nine .right-content-bottom {
    position: absolute;
    top: 44%;
    left: 5%;
    width: 89%;
    height: 45%;
    background-color: #fff;
    border-radius: 7px;
}