* {
    margin: 0;
    padding: 0;
}

.my-btn {
    background-color: rgb(62,159,247);
    border: 0;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    /* margin-left: 3%; */
    margin-right: 3%;
}

html, body {
    height: 100%;
    width: 100%;

    min-width: 1500px;
    min-height: 700px;
}

.layui-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: url("../img/bg.png") no-repeat center top;
    /* background-size: cover; */
    background-size: 100%;
    /* margin-bottom: 6.8%; */
}

.top {
    height: 11%;
}

.layui-row {
    width: 100%;
}

#nav {
    position: relative;
    top: 37%;
    width: 100%;
    height: 53%;
    /* margin-top: 1.6%; */
}

#help,
#friends {
    width: 25px;
    height: 25px;
    border: none;
    color: #6969EF;
    background-color: white;
    border-radius: 15px;
    float: right;
    margin-right: 2%;
    margin-top: 0.5%;
}

#back-to {
    width: 10%;
    float: right;
    margin-right: 2%;
    border-radius: 8px;
}

#back-to a {
    color: #6969EF;
}

.layui-col-space20 {
    margin: 0;
}

.bottom-bg {
    width: 96%;
    height: 98%;
    background-color: rgba(0,0,0,.2);
    margin: 0 auto;
    padding: 0;
}

/* 定义滚动条样式 */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: rgba(240, 240, 240, 1);
  }
   
  /*定义滚动条轨道 内阴影+圆角*/
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px rgba(240, 240, 240, .5);
    border-radius: 10px;
    background-color: rgba(240, 240, 240, .5);
  }
   
  /*定义滑块 内阴影+圆角*/
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 0px rgba(240, 240, 240, .5);
    background-color: rgba(240, 240, 240, .5);
  }